html {
  background: #eceff1;
  height: auto;
  color: #080404;
}

ol {

  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

a {
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  padding: 5px;
  color: inherit;
}

h2 {
  font-family: Jost;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h1 {
  text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.30);
  /* Desktop/h1 */
  font-family: Jost;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 142%;
  /* 68.16px */
  background: linear-gradient(180deg, #B0FBBC 0%, #82F9A1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html.dark {
  background: var(--rw-gradient, linear-gradient(134deg, #1C2A34 0%, #111A20 100%, #111A20 100%));
  color: var(--rw-text-10, #ECF8FF);
}

.dark .nav-links a {
  color: var(--rw-text-10, #ECF8FF);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tag {
  margin: 0.25em;
  border: solid 1px #7AB6D9;
  border-radius: 20em;
  padding: .5em 1em;
  font-size: 1.15em;
  background-color: #F8FCFD;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-left: 262px;
  margin-right: 249px;
}


@media only screen and (max-width: 600px) {
  .main-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;

  }
  html{
    width: 100vh;
  }


  .nav-links {
    margin: 60px 20px 102px 20px;
}
}