---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticlesOverview from "../../components/ArticleOverview.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allArticles = await getCollection("articles");
  const uniqueTags = [
    ...new Set(allArticles.map((article: any) => article.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredArticles = allArticles.filter((article: any) =>
      article.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { articles: filteredArticles },
    };
  });
}

const { articles } = Astro.props;
const { tag } = Astro.params;
---

<BaseLayout pageTitle={tag}>
  <p>Articles tagged with {tag}</p>
  <ul>
    {
      articles.map((article: { slug: any; data: { title: any , pubDate: any} }) => (
        <ArticlesOverview
          url={"/articles/" + article.slug}
          title={article.data.title}
          pubDate={article.data.pubDate}
        />
      ))
    }
  </ul>
</BaseLayout>
