---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticlesOverview from '../components/ArticleOverview.astro';
const allPosts = await getCollection('posts'); 

const pageTitle = "Articles";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  
    {allPosts.map((post) => <ArticlesOverview url={'/posts/'+ post.slug} title={post.data.title}  pubDate ={post.data.pubDate} />)}
</BaseLayout>