---
import "@fontsource/jost";
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticlesOverview from "../components/ArticleOverview.astro";
const allPosts = await getCollection("posts");

const pageTitle = "Articles";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Articles So Far</p>
  <ul>
  {
    allPosts.map((post) => (
      <ArticlesOverview
        url={"/posts/" + post.slug}
        title={post.data.title}
        pubDate={post.data.pubDate}
        description = {post.data.description}
      />
    ))
  }
  </ul>
</BaseLayout>

<style>
  p {
    color: var(--rw-text-10, #ecf8ff);

    /* Desktop/h3 */
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
</style>
