---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Contacts</p>
  
</BaseLayout>