---
import BaseLayout from '../layouts/BaseLayout.astro';
import LatestArticle from '../components/LatestArticle.astro';
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Hi I'm Karan</h1>

  <p>I'm a software developer. I mostly try to make some cool stuff on the internet. currently i am working at Treety</p>

  <LatestArticle />
</BaseLayout>