---
import "@fontsource/jost";
import Social from "./Social.astro";
---

<footer>
  <div >
    <p class="footer-text">Developer by Karan Rabhar.</p>
    <p class="footer-text">Build with Astro Hosted on Github Pages.</p>
  </div>
  <div class="social-buttons">
    <Social platform="twitter" username="karan_rajbhr" />
    <Social platform="github" username="karan-rajbhar" />
  </div>
</footer>

<style>
  footer {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-text{
    color: #b8c1c7 !important;
    font-family: Jost;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 180% !important; /* 28.8px */

  }
  .social-buttons {
    display: flex;
    gap: 15px;
  }
</style>
