---
import "@fontsource/jost";
import Social from "./Social.astro";
---

<footer>
  <div >
    <p class="footer-text">Developed by Karan Rajbhar.</p>
    <p class="footer-text">Build with Astro Hosted on Github Pages.</p>
  </div>
  <div class="social-buttons">
    <Social platform="twitter" username="karan_rajbhr" />
    <Social platform="github" username="karan-rajbhar" />
  </div>
</footer>

