---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-links">
    <ThemeIcon />
    <a href="/">Karan Rajbhar</a>
    <a href="/articles/">Articles</a>
    <a href="/tags/">Tags</a>
    <a href="/about/">About</a>
    <a href="/contact">Contact</a>
</div>
