---
const { platform, username } = Astro.props;
const iconMap:any={
  github:'/images/git-hub.svg',
  twitter:'/images/twitter.svg'
}
---
<a href={`https://www.${platform}.com/${username}`} target="_blank" ><img src={iconMap[platform]}></a>


<style>
    a {
      text-decoration: none;

    }
  </style>